PACKAGE_NAME="ethercat"
PACKAGE_VERSION="stable-1.6"
BUILT_MODULE_NAME[0]="ec_master"
DEST_MODULE_LOCATION[0]="ethercat/master"
BUILT_MODULE_NAME[1]="ec_generic"
DEST_MODULE_LOCATION[1]="ethercat/devices"
BUILT_MODULE_NAME[2]="ec_mini"
DEST_MODULE_LOCATION[2]="ethercat/examples/mini"

AUTOINSTALL="yes"

MAKE[0]="cd /usr/local/ethercat_igh_dkms && bash -c 'poetry run build'"
INSTALL_MODULES="cd /usr/local/ethercat_igh_dkms && bash -c 'poetry run install'"
CLEAN="cd /usr/local/ethercat_igh_dkms && bash -c 'poetry run clean'"